.row
  .sixteen.wide.column
  %h1 Edit task 
.row
  .ten.wide.column.row
    = form_for @task, url: list_task_path, html: { class: 'ui form' } do |f|
      = f.hidden_field :list_id, value: @list.id
      .field
        = f.label :body
        = f.text_field :body
      .field
        = f.label :completed
        = f.check_box :completed
      .field
        = f.label :urgency
        = f.select :urgency, [['Low'],['Medium'],['High']], include_blank: true
      .action
        = f.submit 'Update task', class: 'ui positive button'
= link_to 'Back', :back, class: 'ui grey button'
