.row
  .sixteen.wide.column
  %h2 Forgot your password?
.row
  .ten.wide.column
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'ui form' }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .actions
        = f.submit "Send me reset password instructions", class: 'ui positive basic button'
= render "devise/shared/links"
