.ui.brown.inverted.menu
  = link_to 'Home', root_path, class: "item #{@home ? 'active' : ''}"
  = link_to 'Profile', edit_user_registration_path, class: "item #{@profile ? 'active' : ''}" 
  = link_to 'My Lists', lists_path, class: "item #{@my_lists ? 'active' : ''}" 
  .right.menu
    .item
      .ui.icon.input
        %input{placeholder: "Search...", type: "text"}
        %i.search.link.icon
    = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'ui item'